<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CuentasPorCobrar.Domain.Properties.Settings.CuentasxCobrarConnectionString"
            connectionString="Data Source=angellizander.database.windows.net;Initial Catalog=CuentasxCobrar;User ID=angellizander;Password=23dem@rzo1996"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>